/* ==========================================================================
   [Responsive design]
========================================================================== */
/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {

}
/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
    .section-header .s-h__logo {
        width: 250px;
        height: 250px;
        margin-top: -150px;
        padding-top: 145px;
    }
    .mobile-nav {
        border: #fff solid 4px;
        width: 400px;
        height: 90%;
        top: 5%;
    }
    .search-form {
        width: 50%;
    }
    
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    h1 {
        font-size: 48px;
        margin: 35px 0 35px 0;
    }
    h2 {
        font-size: 38px;
        margin: 25px 0 25px 0;
    }
    h3 {
        font-size: 28px;
        margin: 20px 0 20px 0;
    }
    h4 {
        font-size: 18px;
        margin: 15px 0 15px 0;
    }
    h5 {
        font-size: 13px;
        margin: 10px 0 10px 0;
    }
    h6 {
        font-size: 10px;
        margin: 10px 0 10px 0;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}